<%= render "layouts/errors", :object => @comment %>

<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :text, "Your Comment" %>
    <%= f.text_area :text, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, :value => @user.id %>

  <%= f.submit "Save", class: "btn btn-default" %>
<% end %>

<div class="container-fluid">
  <%= link_to "Hide Form", :back %>
</div>
